<div class="container">
  <div class="row">
    <div class="contact">
        <p>Please Feel Free to Leave a Feedback to Improve This Project.</p>
      <form>
      <div class="form-group">
        <div class="col-md-4">
          <h4>Name</h4>
            <input id="Name" placeholder="Please Write Your Name Here" type="text"></input>
        </div>
        <div class="col-md-4">
          <h4>Email Address</h4>
            <input id="Email" placeholder="Please Write Your Email Here" type="text"></input>
        </div>
        <div class="col-lg-10">
          <h4>Feedback</h4>
            <textarea rows="4"></textarea>
            <button class="radius button" type="submit">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
